{% load iamheadless_publisher_site_homepages_tags %}
{% load iamheadless_publisher_site_tags %}
{% load iamheadless_translate_tags %}
{% load static %}

{% site_language as language %}
{% translation_for 'skip to main content' language as TEXT_SKIP_TO_MAIN_CONTENT %}

<!doctype html>
<html lang="{{ language }}">
    <head>
        {% block extra_head_top %}{% endblock %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% project_title %} - {{ page.title }}</title>
        <link rel="stylesheet" href="{% static 'iamheadless_publisher_site_homepages/bootstrap/css/bootstrap.min.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="{% static 'iamheadless_publisher_site_homepages/html5shim/html5shiv-3.7.3.min.js' %}"></script>
        <script src="{% static 'iamheadless_publisher_site_homepages/respondjs/respond-1.4.2.min.js' %}"></script>
        <![endif]-->
        <link rel="icon" type="image/png" href="{% static 'iamheadless_publisher_site_homepages/iamheadless_publisher_site_homepages/img/favicon.png' %}?build_id={% build_id %}">
        <link rel="stylesheet" href="{% static 'iamheadless_publisher_site_homepages/iamheadless_publisher_site_homepages/css/styles.css' %}?build_id={% build_id %}">
        {% block seo %}{% endblock %}
        {% block social_media %}{% endblock %}
        {% block extra_head_bottom %}{% endblock %}
    </head>
    <body>
        <a href="#main" class="sr-only sr-only-focusable">{{ TEXT_SKIP_TO_MAIN_CONTENT|capfirst }}</a>
        {% main_menu %}
        <div role="main" id="main">
            {% block content %}{% endblock %}
        </div>
        {% footer %}
        <script src="{% static 'iamheadless_publisher_site_homepages/jquery/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'iamheadless_publisher_site_homepages/bootstrap/js/bootstrap.min.js' %}"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>
